en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flask==2.0.2
Flask-Cors==3.0.10
googletrans==4.0.0rc1
Levenshtein==0.16.0
Pattern==3.6
requests==2.26.0
spacy==3.0.7
SpeechRecognition==3.8.1